.services {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
  /* margin-bottom: 5rem; */
  /* background-color: rgba(114, 113, 79, 0.288); */
}
.services_title {
  /* display: flex; */
  color: orange;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.services_descriptiions {
  width: 25em;
  text-align: justify;
  text-align: center;
  margin-bottom: 1rem;
}
.services_cards{
    display: flex;
}
@media screen and (max-width: 600px) {
  .services_title {
    /* display: flex; */
    color: orange;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .services_descriptiions {
    width: 15em;
    /* text-align: justify; */
    text-align: center;
    margin-bottom: 1rem;
  }

}


