.excep{
    text-align: center;
    padding-top: 3rem;
    margin-top: 2rem;
  

}
.excep_p{
margin-bottom: 3rem;
font-size: 30px;
color: whitesmoke;

}

.excep_title{
    font-size:35px;
    font-weight: 700;
    color: #F0F0F0;
}

@media (max-width: 600px) {
  .mySwiper{
    /* width: 200px; */
    width: 500px;
  }

  .swiper_Image{
    width: 100%;
  }
  .exceptionalWork{
    /* width: 100%; */
    height: auto;
  }
    }
  
    /* .imageSize{
      width: 20%;
    } */

    @media (min-width: 900px) {
      .excep{
        height: auto;
      }
        }
      