.excep{
    text-align: center;
    padding-top: 3rem;
    margin-top: 2rem;

}
.excep_p{
margin-bottom: 10px;
font-size: 25px;
}

.excep_title{
    font-size:30px;
    font-weight: 700;
    color: orange;
}

