.excep{
    text-align: center;
    padding-top: 3rem;
    margin-top: 2rem;
  

}
.excep_p{
margin-bottom: 3rem;
font-size: 25px;
/* margin-top: 3rem; */

}

.excep_title{
    font-size:30px;
    font-weight: 700;
    color: orange;
}
.imageSize{
    widith:20%;
}
