.menuItem {
  /* color: aqua; */
  /* border: solid 1px red; */
  color: whitesmoke;
  font-size: 24px;
  margin-left: 3rem;
}

.menuItem:hover {
  color: #a5d7e8;
}

@media screen and (max-width: 900px) {
  .menuItem {
    color: whitesmoke;
    font-size: 18px;
    margin-left: 2.5rem;
  }
}
