.baseCard {
  width: 260px;
  height: 260px;
  background: #ffffff;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.baseCard:hover {
  animation-name: upAndDown;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* animation-iteration-count: infinite; */
}
.cards_title {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  position: absolute;
  top: 13rem;
  left: 6.5rem;
}

.cards_descriptions {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  top: 9em;
  left: 2rem;
  width: 80%;
  position: absolute;
  /* background-color: cornflowerblue; */
}

.baseCard:hover {
  box-shadow: 0px 35px 65px rgba(77, 99, 141, 0.274);
}

.image {
  position: absolute;
  width: 155px;
  height: 143px;
  left: 56px;
  top: 45px;
}
@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  /* .baseCard {
    width: 140px;
    height: 176px;
    display: flex;
    flex-wrap: wrap;
  }
  .image {
    position: absolute;
    width: 60px;
    height: 50px;
    background-color: chartreuse;
    left: 45px;
    top: 30px;
  }
  .cards_title {
    left: 4rem;
  }
  .cards_descriptions {
    font-size: 9px;
    top: 14em;
    left: 1rem;
    width: 80%;
    position: absolute;
    text-align: justify;
  } */
}
