.navbar-logo {
  width: 100px;
  margin-left: 13rem;
}

.navigation {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  color: black;
  /* color: #F0F0F0; */
  margin-bottom: 20px;
  margin-right: 107px;
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
}

.navbar-title {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 27px;
  /* color: #000000; */
  color: #F0F0F0; 
  text-decoration: none;
  padding-left: 20px;
}
.navbar-title:hover {
  color: #A5D7E8;
}
.navbar-button {
  margin-left: 20px;
}
ul {
  display: flex;

  list-style: none;
}
.contact {
  margin-right: 5rem;
}
.hamburger {
  border: 0;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: orange;
  cursor: pointer;
  display: none;
}
.hamburger:hover {
  background-color: rgb(195, 128, 4);
}
/* .mobile-navigation{
display: none;
} */
/* ul{
  display: none;
}
button.button.contact{
  display: none;
} */
.mobile-navigation{
  display: none;
}

@media screen and (max-width: 600px) {
  .contact {
    display: none;
  }
  .hamburger {
    display: block;
    justify-content: flex-end;
  }
  .navigation-menu.open ul{
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    text-align: center;
    gap: 0.4rem;
  }
  .navbar-title {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: orange;
    text-decoration: none;
  }
  .navbar-title:hover {
    border-bottom: 2px solid orange;
    width: 30%;
  }
  .navbar-logo {
    display: none;
  }
  .hamburgerButton {
    margin: 10px;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .navigation{
    display: none;
  }
  .navigation-menu{
    background-color: black;
    position: relative;
  }
  .navigation-menu.close{
    display: none;
  }
}
