.excep {
  text-align: center;
  padding-top: 3rem;
  margin-top: 2rem;
  background-color: #0b2447;
}
.excep_p {
  margin-bottom: 3rem;
  font-size: 30px;
  color: whitesmoke;
}

.excep_title {
  font-size: 35px;
  font-weight: 700;
  color: #f0f0f0;
}
@media (max-width: 1586px) {
  /* .mySwiper {
    width: 500px;
  } */
  .swiper_Image {
    width: 440px;
    border-radius: 33px;
    margin-top: 25px;
  }
}
@media (max-width: 1152px) {
  .swiper_Image {
    width: 360px;
  }
}
@media (max-width: 948px) {
  .swiper_Image {
    width: 278px;
  }
}
@media (max-width: 776px) {
  .swiper_Image {
    width: 229px;
  }
}
@media (max-width: 776px) {
  .swiper_Image {
    width: 144px;
  }
}
