.navbar{
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-evenly;
}

.navbar-title {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;
  color: #000000;
  text-decoration: none;
}
.navbar-title:hover{
    color:orange;
}
.navbar-button{
    margin-top: 10px;
    margin-left: 20px;
}