/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bars {
  /* display: flex;
  justify-content: end;
  color: white;
  background-color: #0b2447; */
  display: none;
}
.icon {
  font-size: 40px;
  margin-right: 15px;
  margin-top: 11px;
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  background-color: #0b2447;
  position: relative;
}

.navigation {
  display: flex;
  align-items: center;
}
/* .navbar_title {
  color: white;
  font-size: 600;
  position: absolute;
  top: 35px;
  left: 15px;
} */

@media screen and (max-width: 768px) {
  .bars {
    display: flex;
    color: white;
    background-color: #0b2447;
  }
}
