
.AboutUs{
  display: flex;
 justify-content: space-evenly;
 position: relative;
 background-color: #0B2447;

}

.image-container {
  border-radius: 50%;
  position: relative;
}
.profileImage{
  position: absolute;
  background-color: #A5D7E8;
  border-radius: 50%;
  width: 25rem;
  right: 160px;
  top: 120px;
 
}
.profileImage:hover{
  border: 2px solid #576CBC;
  box-shadow: 0 0 10px #576CBC,
              0 0 20px #576CBC,
              0 0 30px #576CBC,
              0 0 40px #576CBC,
              0 0 50px #576CBC,
              0 0 60px #576CBC;
}
.left_about{
 
   color: #F0F0F0;
   font-size: 4rem;
   width: 60%;
   margin:5rem;
  }
.right_about{
  width: 40%;
  text-align: center;
}
span {
  color: #A5D7E8;
  transition: color 1s ease-in-out;
}

span:hover {
  color: #576CBC;
}
.aboutDescription{
text-align: justify;

width:100%;
font-size: 2.5rem;
}
.hireme{
  width: 10rem;
  height: 4rem;
 background-color: #A5D7E8;
}

@media screen and (max-width: 768px)  {
  .AboutUs{
    flex-direction: column;
    align-items: center;
  }
  .left_about {
    width: 80%;
    margin: 2rem 0;
    text-align: center;
    font-size: 2rem;
  }
  .right_about {
    width: 80%;
    margin: 2rem 0;
    text-align: center;
  }
  .profileImage{
    width: 12rem;
    position: static;  
  }
  .right_about {
    order: 0;
  }
  .left_about {
    order: 1;
  }
  .aboutDescription{
    text-align: justify;
    width:100%;
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    }
}
